# Third-party libraries that aren't safe to distribute (e.g. Discord SDK)
lib/*

# Cache files
__pycache__/
.cache/

# Build files
build/

# IDE Files
.vscode/
.zed/

# Application logs
logs/*

# Historical test probes and development code that has since been integrated
# Test / reference data used to avoid repeatedly hitting external APIs during testing
tests/
env/

# Extra
gen/
*.sh
